@font-face {
	font-family: 'Roboto Medium';
	src: url(fonts/roboto-medium.ttf);
}

@font-face {
	font-family: 'Roboto Italic';
	src: url(fonts/roboto-italic.ttf);
}

@font-face {
	font-family: 'Roboto Bold';
	src: url(fonts/roboto-bold.ttf);
}

@font-face {
	font-family: 'Roboto Regular';
	src: url(fonts/roboto-regular.ttf);
}

@font-face {
	font-family: 'Roboto Light';
	src: url(fonts/roboto-light.ttf);
}

@font-face {
	font-family: 'Raleway Light';
	src: url(fonts/raleway-light.ttf);
}

@font-face {
	font-family: 'Raleway Regular';
	src: url(fonts/raleway-regular.ttf);
}

@font-face {
	font-family: 'Raleway Bold';
	src: url(fonts/raleway-bold.ttf);
}

body, p, ul, li, input, textarea, button {
	margin: 0;
	padding: 0;
}

input, textarea, button, select {
	outline: none;
}

body {
	min-width: 1140px;
}

.content {
	width: 1140px;
	margin: 0 auto;
	font-size: 0;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.clear {
	display: block;
	clear: both;
}

.btn-1 {
	display: inline-block;
	box-sizing: border-box;
	border: none;
	font-family: 'Raleway Regular';
	font-size: 14px;
	color: #fff;
	background-color: #733099;
	background: linear-gradient(63deg, #733099, #aa2597);
	cursor: pointer;
}

.btn-1:hover {
	background: linear-gradient(63deg, #7c2093, #cf1091);
}

.btn-1:active {
	background: linear-gradient(63deg, #631a76, #a60d74);
	box-shadow: inset 0.46px 2.96px 7px 0 rgba(0, 0, 0, 0.5);
}

.btn-2 {
	display: inline-block;
	box-sizing: border-box;
	border: none;
	font-family: 'Raleway Regular';
	font-size: 14px;
	color: #fff;
	background-color: #733099;
	background: linear-gradient(0deg, #9a2898, #aa2597);
	cursor: pointer;
}

.btn-2:hover {
	background: linear-gradient(0deg, #7c2093, #cf1091);
}

.btn-2:active {
	background: linear-gradient(0deg, #631a76, #a60d74);
	box-shadow: inset 0.46px 2.96px 7px 0 rgba(0, 0, 0, 0.5);
}

.btn-3 {
	display: inline-block;
	box-sizing: border-box;
	border: none;
	font-family: 'Raleway Regular';
	font-size: 14px;
	color: #fff;
	background-color: #733099;
	background: linear-gradient(63deg, #aa2597, #733099);
	cursor: pointer;
}

.btn-3:hover {
	background: linear-gradient(63deg, #cf1091, #7c2093);
}

.btn-3:active {
	background: linear-gradient(63deg, #a60d74, #631a76);
	box-shadow: inset 0.46px 2.96px 7px 0 rgba(0, 0, 0, 0.5);
}

.c-checkbox {
	width: 20px;
	height: 20px;
	background-color: #dfdfdf;
	display: inline-block;
}

.c-checkbox.checked {
	border: 4px solid #dfdfdf;
	background-color: #733099;
	width: 12px;
	height: 12px;
}

.c-checkbox input {
	display: none;
}

#top-line {
	height: 53px;
	background-color: #171717;
}

#top-line a {
	font-family: 'Roboto Light';
	font-size: 14px;
	color: #71c9f1;
	margin-top: 19px;
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid #2a4350;
	vertical-align: top;
}

#top-line .tel {
	font-family: 'Roboto Light';
	font-size: 18px;
	color: #fff;
	display: inline-block;
	margin-right: 49px;
	margin-top: 16px;
	vertical-align: top;
}

#top-menu {
	height: 98px;
}

#top-menu .logo {
	display: block;
	width: 272px;
	height: 98px;
	background-image: url(images/logo.png);
	background-position: 0 -2px;
}

#top-menu ul {
	margin-top: 41px;
}

#top-menu ul li {
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
}

#top-menu ul li a {
	display: block;
	text-decoration: none;
	font-family: 'Roboto Light';
	font-size: 14px;
	color: #171717;
}

#top-menu ul li a:hover {
	font-family: 'Roboto Bold';
}

#header {
	background-image: url(images/header-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 575px;
}

#header .content {
	padding-top: 130px;
	text-align: center;
}

#header .title {
	font-family: 'Raleway Bold';
	font-size: 45.69px;
	color: #fff;
	text-transform: uppercase;
}

#header .desc {
	font-family: 'Raleway Light';
	font-size: 25px;
	color: #fff;
	margin-top: 11px;
}

#header .form-arrow {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: 327px;
	height: 127px;
	background-image: url(images/icons/arrow.png);
	box-sizing: border-box;
	padding-left: 30px;
	padding-top: 26px;
	font-family: 'Raleway Regular';
	font-size: 20px;
	line-height: 24px;
	color: #fff;
	margin-top: 83px;
}

#header form {
	display: inline-block;
	vertical-align: top;
	margin-left: 62px;
	margin-top: 121px;
}

#header form input {
	border: none;
	width: 277px;
	height: 50px;
	background-color: #282928;
	box-sizing: border-box;
	padding-left: 21px;
	padding-right: 21px;
	font-family: 'Raleway Regular';
	font-size: 14px;
	color: #7d7d7d;
}

#header form input::-webkit-input-placeholder {
	color: #7d7d7d;
}

#header form input:-moz-placeholder {
	color: #7d7d7d;
}

#header form button {
	width: 141px;
	height: 50px;
	margin-left: 20px;
}

#about {
	border-bottom: 9px solid #ebebeb;
}

#about .img {
	margin-left: -25px;
	margin-top: 25px;
	display: inline-block;
	vertical-align: top;
}

#about .right {
	display: inline-block;
	vertical-align: top;
	margin-top: 126px;
	width: 530px;
}

#about .title {
	text-transform: uppercase;
	display: inline-block;
	font-family: 'Raleway Regular';
	font-size: 30px;
	background: linear-gradient(63deg, #72197b, #c50979);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

#about .text {
	font-family: 'Roboto Light';
	font-size: 15px;
	color: #2c2c2c;
	line-height: 24px;
	margin-top: 28px;
}

#about .text .grad {
	display: inline-block;
	background: linear-gradient(-121deg, #72197b, #c50979);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

#about .text .bold {
	font-family: 'Roboto Regular';
}

#about .logo {
	margin-top: 14px;
}

#about .logo li {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 40px;
}

#about .logo li:nth-child(4n) {
	margin-right: 0;
}

#about .logo li a {
	display: block;
}

#buttons {
	margin-top: 49px;
}

#buttons ul li {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 20px;
}

#buttons ul li:nth-child(4n) {
	margin-right: 0;
}

#buttons ul li a {
	display: table-cell;
	width: 270px;
	height: 131px;
	vertical-align: middle;
	border: 2px solid #dfdfdf;
	text-decoration: none;
	text-align: center;
	font-family: 'Roboto Light';
	font-size: 20.31px;
	color: #2c2c2c;
	line-height: 30.46px;
	box-sizing: border-box;
	padding: 0 10px;
}

#buttons ul li a:hover {
	border-color: transparent;
	background-origin: padding-box, border-box;
	background-clip: padding-box, border-box;
	-webkit-background-clip: padding-box, border-box;
	background-image: linear-gradient(90deg, #fff, #fff), linear-gradient(0deg, #733099, #aa2597);
}

#buttons ul li a:hover span {
	display: inline-block;
	background: linear-gradient(-121deg, #72197b, #c50979);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

#buttons ul li.big {
	display: block;
	margin: 0;
	margin-top: 1px;
}

#buttons ul li.big a {
	height: 82px;
	width: 1140px;
}

#instruments {
	background-image: url(images/inst-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 1716px;
	margin-top: 50px;
}

#instruments .content {
	padding-top: 35px;
}

#instruments .m-title {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto Light';
	font-size: 35.38px;
	color: #fff;
	line-height: 56.6px;
	margin-bottom: 34px;
}

#instruments .instrument {
	height: 315px;
	margin-left: 67px;
}

#instruments .instrument:before {
	display: inline-block;
	vertical-align: top;
	content: '';
	width: 40px;
	height: 315px;
	background-image: url(images/icons/inst-decor.png);
}

#instruments .instrument:last-of-type:before {
	height: 40px;
}

#instruments .instrument:last-of-type {
	height: auto;
}

#instruments .instrument .b1 {
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
	width: 510px;
}

#instruments .instrument .title {
	text-transform: uppercase;
	font-family: 'Roboto Light';
	font-size: 21.57px;
	color: #fff;
	margin-top: 6px;
}

#instruments .instrument .title span {
	font-family: 'Roboto Regular';
}

#instruments .instrument .desc {
	width: 310px;
	margin-left: 11px;
	margin-top: 18px;
	font-family: 'Roboto Light';
	font-size: 15px;
	color: #fff;
	line-height: 24px;
}

#instruments .instrument .more {
	margin-left: 11px;
	width: 155px;
	height: 50px;
	display: block;
	text-decoration: none;
	text-align: center;
	padding-top: 18px;
	margin-top: 23px;
}

#instruments .instrument .checkmarks {
	display: inline-block;
	vertical-align: top;
	width: 508px;
	margin-top: 7px;
}

#instruments .instrument .checkmarks li:before {
	content: '';
	display: block;
	width: 17px;
	height: 17px;
	background-image: url(images/icons/check.png);
	position: absolute;
	top: 4px;
	left: 0;
}

#instruments .instrument .checkmarks li {
	position: relative;
	padding-left: 32px;
	font-family: 'Roboto Light';
	font-size: 18px;
	color: #fff;
	line-height: 24px;
	list-style-type: none;
	margin-bottom: 19px;
}

#call-back {

}

#call-back .content {
	width: 810px;
}

#call-back .title {
	text-transform: uppercase;
	font-family: 'Roboto Light';
	font-size: 34px;
	line-height: 40.82px;
	background: linear-gradient(60deg, #84148f, #aa2597);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	margin-top: 74px;
}

#call-back .form-text {
	font-family: 'Roboto Light';
	font-size: 14px;
	color: #2d2d2d;
	margin-top: 76px;
}

#call-back form {
	margin-top: 14px;
}

#call-back form input {
	width: 277px;
	height: 50px;
	border: none;
	box-sizing: border-box;
	padding-left: 21px;
	padding-right: 21px;
	background-color: #e9e9e9;
	font-family: 'Raleway Regular';
	font-size: 14px;
	color: #7d7d7d;
}

#call-back form input::-webkit-input-placeholder {
	color: #7d7d7d;
}

#call-back form input:-moz-placeholder {
	color: #7d7d7d;
}

#call-back form button {
	width: 141px;
	height: 50px;
	margin-left: 20px;
}

#map-block {
	background-image: url(images/map.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	height: 498px;
	margin-top: 74px;
}

#map-block .content {
	padding-top: 34px;
}

#map-block .contacts {
	width: 338px;
	border-radius: 10px;
	background-color: #fff;
	padding-bottom: 37px;
	margin-left: 68px;
	box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.06);
}

#map-block .contacts .title {
	display: inline-block;
	font-family: 'Roboto Light';
	font-size: 32.07px;
	color: transparent;
	text-transform: uppercase;
	background: linear-gradient(60deg, #84148f, #aa2597);
	background-clip: text;
	-webkit-background-clip: text;
	margin-left: 30px;
	margin-top: 22px;
}

#map-block .contacts ul {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 12px;
}

#map-block .contacts ul .name {
	text-transform: uppercase;
	font-family: 'Roboto Medium';
	font-size: 16px;
	color: #2d2d2d;
}

#map-block .contacts ul .value {
	font-family: 'Roboto Light';
	font-size: 16px;
	color: #2d2d2d;
	margin-top: 8px;
}

#map-block .contacts ul li {
	margin-bottom: 20px;
}

#map-block .contacts form {
	margin-left: 31px;
	margin-right: 30px;
	margin-top: -5px;
}

#map-block .contacts form input {
	border: none;
	box-sizing: border-box;
	padding-left: 21px;
	padding-right: 21px;
	background-color: #e9e9e9;
	font-family: 'Raleway Regular';
	font-size: 14px;
	color: #7d7d7d;
	width: 228px;
	height: 50px;
}

#map-block .contacts form input::-webkit-input-placeholder {
	color: #7d7d7d;
}

#map-block .contacts form input:-moz-placeholder {
	color: #7d7d7d;
}

#map-block .contacts form .arrow {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	box-sizing: border-box;
	width: 49px;
	height: 50px;
	border: 1px solid #e9e9e9;
	background-color: #c1c1c1;
	background-image: url(images/icons/arrow-2.png);
	background-repeat: no-repeat;
	background-position: center center;
}

#map-block .contacts form .btn-1 {
	width: 276px;
	height: 50px;
	margin-top: 15px;
}

#footer {
	min-height: 349px;
	background-color: #f4f4f4;
	position: relative;
}

#footer:before {
	display: block;
	width: 100%;
	position: absolute;
	content: '';
	height: 2px;
	top: 47px;
	left: 0;
	background-color: #dadada;
}

#footer .content {
	padding-top: 34px;
}

#footer .links-block {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

#footer .links-block .title {
	font-family: 'Roboto Regular';
	font-size: 20px;
	color: #555;
	text-transform: uppercase;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #f4f4f4;
	margin-bottom: 3px;
	display: inline-block;
	vertical-align: top;
}

#footer .links-block .links {
	margin-left: 15px;
}

#footer .links-block ul {
	display: inline-block;
	vertical-align: top;
}

#footer .links-block ul li {
	margin-top: 12px;
}

#footer .links-block a {
	font-family: 'Roboto Light';
	font-size: 16px;
	color: #797979;
	text-decoration: none;
}

#footer .links-block.n1 {
	width: 297px;
	margin-left: 14px;
}

#footer .links-block.n2 {
	width: 573px;
}

#footer .links-block.n2 ul:first-child {
	width: 302px;
}

#footer .payment-sys {
	margin-top: 47px;
	margin-left: 32px;
}

#footer .payment-sys li {
	margin-right: 20px;
	display: inline-block;
	vertical-align: top;
}

#footer .payment-sys li a {
	display: block;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}

#footer .payment-sys li a:hover {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
}

#footer .payment-sys li a.yand {
	background-image: url(images/icons/payment/yand.png);
	width: 23px;
	height: 26px;
}

#footer .payment-sys li a.visa {
	background-image: url(images/icons/payment/visa.png);
	width: 34px;
	height: 24px;
	margin-top: 1px;
}

#footer .payment-sys li a.mast {
	background-image: url(images/icons/payment/mast.png);
	width: 43px;
	height: 26px;
}

#footer .payment-sys li a.qiwi {
	background-image: url(images/icons/payment/qiwi.png);
	width: 41px;
	height: 26px;
}

#footer .payment-sys li a.webm {
	background-image: url(images/icons/payment/webm.png);
	width: 26px;
	height: 27px;
}

#footer .social {
	margin-right: 28px;
	margin-top: 47px;
}

#footer .social li {
	margin-left: 15px;
	display: inline-block;
	vertical-align: top;
}

#footer .social li a {
	display: block;
	width: 26px;
	height: 26px;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}

#footer .social li a:hover {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
}

#footer .social li a.gp {
	background-image: url(images/icons/social/gp.png);
}

#footer .social li a.fb {
	background-image: url(images/icons/social/fb.png);
}

#footer .social li a.yt {
	background-image: url(images/icons/social/yt.png);
}

#footer .social li a.tw {
	background-image: url(images/icons/social/tw.png);
}

#footer .social li a.od {
	background-image: url(images/icons/social/od.png);
}

#footer .social li a.vk {
	background-image: url(images/icons/social/vk.png);
}

#copyright {
	height: 118px;
	background-color: #ececec;
}

#copyright .fleft {
	margin-left: 32px;
}

#copyright .year {
	font-family: 'Roboto Regular';
	font-size: 16px;
	color: #4a4a4a;
	margin-top: 21px;
}

#copyright .text {
	font-family: 'Roboto Light';
	font-size: 16px;
	color: #4a4a4a;
	line-height: 24px;
	margin-top: 4px;
}

#copyright .info {
	font-family: 'Roboto Light';
	font-size: 16px;
	color: #4a4a4a;
	line-height: 24px;
	margin-top: 22px;
	margin-right: 23px;
}

#copyright .info span {
	font-family: 'Roboto Regular';
}

/* CAPABILITIES */
#page-name {
	border-top: 3px solid #ededed;
	height: 92px;
}

#page-name .index {
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Roboto Light';
	font-size: 16px;
	color: #2f9ed6;
	margin-top: 33px;
}

#page-name .fright {
	text-transform: uppercase;
	font-family: 'Roboto Bold';
	font-size: 20px;
	color: #222;
	margin-top: 30px;
}

#page-name .fright.uncaps {
	text-transform: none;
}

#capabilities .left-menu {
	display: inline-block;
	vertical-align: top;
}

#capabilities .left-menu>li>ul {
	display: none;
	margin-left: 10px;
	margin-top: 2px;
	margin-bottom: -1px;
}

#capabilities .left-menu>li {
	margin-bottom: 20px;
}

#capabilities .left-menu>li>a {
	display: block;
	box-sizing: border-box;
	width: 293px;
	height: 53px;
	border-radius: 4px;
	border: 1px solid #cbcbcb;
	padding-left: 20px;
	font-family: 'Roboto Light';
	font-size: 14px;
	color: #000;
	text-decoration: none;
	padding-top: 16px;
	position: relative;
}

#capabilities .left-menu>li>a .arrow {
	content: '';
	display: block;
	width: 15px;
	height: 8px;
	background-image: url(images/icons/menu-arrows.png);
	background-position: 0 -8px;
	position: absolute;
	top: 21px;
	right: 19px;
}

#capabilities .left-menu>li:hover>a,
#capabilities .left-menu>li.active>a {
	color: transparent;
	border-color: transparent;
	background-origin: padding-box, border-box;
	background-clip: padding-box, border-box;
	-webkit-background-clip: padding-box, border-box;
	background-image: linear-gradient(#fff, #fff), linear-gradient(63deg, #3443a1, #02b4e9);
}

#capabilities .left-menu>li:hover>a>span,
#capabilities .left-menu>li.active>a>span {
	display: inline-block;
	background-clip: text, text;
	-webkit-background-clip: text, text;
	background-image: linear-gradient(90deg, rgba(2, 180, 233, 0.54), rgba(52, 67, 161, 0.54)), linear-gradient(#363636, #363636);
}

#capabilities .left-menu>li:hover>a .arrow,
#capabilities .left-menu>li.active>a .arrow {
	background-position: 0 0;
}

#capabilities .left-menu>li:hover>ul,
#capabilities .left-menu>li.active>ul {
	display: block;
}

#capabilities .left-menu>li>ul li {
	margin-top: 10px;
}

#capabilities .left-menu>li>ul li a {
	text-decoration: none;
	font-family: 'Roboto Regular';
	font-size: 14px;
	color: #363636;
}

#capabilities .left-menu>li>ul li a:hover,
#capabilities .left-menu>li>ul li a.active {
	font-family: 'Roboto Bold';
}

#capabilities .right {
	width: 780px;
	margin-left: 67px;
	display: inline-block;
	vertical-align: top;
}

#capabilities .title {
	font-family: 'Roboto Bold';
	font-size: 20px;
	color: #222;
	margin-top: -5px;
}

#capabilities .img {
	overflow: hidden;
	width: 780px;
	margin-top: 19px;
}

#capabilities .img img {
	width: 780px;
}

#capabilities .what-you-get {
	margin-top: 25px;
}

#capabilities .what-you-get ul {
	margin-top: 17px;
}

#capabilities .what-you-get ul li {
	margin-bottom: 5px;
}

#capabilities .what-you-get ul li span {
	display: inline-block;
	vertical-align: top;
}

#capabilities .what-you-get ul li span:nth-child(1) {
	font-family: 'Roboto Regular';
	font-size: 50px;
	color: transparent;
	background-clip: text, text;
	-webkit-background-clip: text, text;
	background-image: linear-gradient(-81deg, rgba(2, 180, 233, 0.54), rgba(52, 67, 161, 0.54)), linear-gradient(#222, #222);
}

#capabilities .what-you-get ul li span:nth-child(2) {
	font-family: 'Roboto Regular';
	font-size: 19.21px;
	margin-left: 10px;
	margin-top: 18px;
	color: transparent;
	background-clip: text, text;
	-webkit-background-clip: text, text;
	background-image: linear-gradient(153deg, rgba(2, 180, 233, 0.54), rgba(52, 67, 161, 0.54)), linear-gradient(#222, #222);
}

#capabilities .text {
	font-family: 'Roboto Light';
	font-size: 16px;
	color: #222;
	line-height: 28px;
	text-align: justify;
	margin-top: 4px;
}

#capabilities .buttons {
	margin-top: 22px;
}

#capabilities .buttons a {
	width: 240px;
	height: 50px;
	text-align: center;
	text-decoration: none;
	padding-top: 18px;
}

#capabilities .buttons .btn-2 {
	margin-left: 29px;
	margin-right: 30px;
}

#capabilities .get-form {
	border: 1px solid #dfdfdf;
	margin-top: 34px;
	margin-bottom: 60px;
	padding-bottom: 15px;
}

#capabilities .get-form .f-title {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto Medium';
	font-size: 32.2px;
	color: #1a1a1a;
	margin-top: 31px;
}

#capabilities .get-form .form {
	width: 277px;
	margin: 0 auto;
	margin-top: 22px;
}

#capabilities .get-form input[type=text] {
	margin-bottom: 20px;
	box-sizing: border-box;
	border: 1px solid #ababab;
	width: 277px;
	height: 50px;
	font-family: 'Roboto Light';
	font-size: 14px;
	color: #626262;
	padding-left: 20px;
	padding-right: 20px;
}

#capabilities .get-form button {
	width: 277px;
	height: 50px;
	margin-bottom: 20px;
}

#capabilities .get-form .c-field {
	font-family: 'Roboto Light';
	font-size: 12px;
	color: #000;
	line-height: 20px;
	text-align: justify;
	margin-bottom: 10px;
}

#capabilities .get-form .c-checkbox {
	margin-right: 13px;
	vertical-align: top;
}

#products {
	margin-top: 13px;
}

#products .big-block {
	width: 1140px;
	height: 298px;
	border-radius: 9px;
	position: relative;
	margin-bottom: 40px;
}

#products .big-block img,
#products .big-block .shadow {
	position: absolute;
	left: 0;
	top: 0;
}

#products .big-block .shadow {
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	border-radius: 9px;
}

#products .big-block .title {
	color: #fff;
	position: relative;
	margin-left: 44px;
}

#products .big-block .title span {
	display: block;
	margin-top: 49px;
}

#products .big-block .title .n1 {
	font-family: 'Roboto Italic';
	font-size: 46.7px;
}

#products .big-block .title .n2 {
	font-family: 'Roboto Bold';
	font-size: 84.27px;
	text-transform: uppercase;
	margin-top: -10px;
}

#products .big-block .title .n3 {
	font-family: 'Roboto Italic';
	font-size: 33.6px;
	margin-top: -6px;
}

#products .big-block .title .n2.uncaps {
	text-transform: none;
}

#products .big-block>.fright {
	margin-right: 60px;
	position: relative;
	margin-top: 53px;
}

#products .big-block .text {
	width: 490px;
	font-family: 'Roboto Light';
	font-size: 16px;
	color: #fff;
	line-height: 24px;
	text-align: justify;
}

#products .big-block .more {
	font-family: 'Roboto Light';
	font-size: 14px;
	color: #6cf;
	text-decoration: none;
	display: inline-block;
	margin-top: 6px;
	border-bottom: 1px solid rgba(85, 169, 211, 0.3);
}

#products .big-block .buy-block {
	text-align: right;
	margin-top: 24px;
}

#products .big-block .buy-block .btn-1 {
	width: 141px;
	height: 44px;
	text-decoration: none;
	text-align: center;
	padding-top: 14px;
	vertical-align: top;
}

#products .big-block .old-cost {
	width: 105px;
	background-image: url(images/icons/overline.png);
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	font-family: 'Roboto Bold';
	font-size: 18px;
	color: #d8d8d8;
	display: inline-block;
	vertical-align: top;
	line-height: 14px;
	margin-right: 19px;
	margin-top: 15px;
}

#products .big-block .new-cost {
	color: transparent;
	font-family: 'Roboto Bold';
	font-size: 18px;
	display: inline-block;
	vertical-align: top;
	background-clip: text, text;
	-webkit-background-clip: text, text;
	background-image: linear-gradient(63deg, rgba(132, 20, 143, 0.55), rgba(235, 0, 140, 0.55)), linear-gradient(#fff, #fff);
	margin-top: 11px;
	margin-right: 30px;
}

#products .middle-block {
	width: 554px;
	margin-bottom: 40px;
	display: inline-block;
	vertical-align: top;
	margin-right: 31px;
}

#products .middle-block:nth-of-type(2n) {
	margin-right: 0;
}

#products .middle-block .img {
	position: relative;
	width: 554px;
	border-radius: 9px;
	overflow: hidden;
	height: 223px;
}

#products .middle-block .img img {
	position: absolute;
	left: 0;
	top: 0;
}

#products .middle-block .img .shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 9px;
}

#products .middle-block .img .text {
	position: absolute;
	left: 21px;
	top: 18px;
	font-family: 'Roboto Bold';
	font-size: 12px;
	color: #fff;
}

#products .middle-block .title {
	font-family: 'Roboto Bold';
	font-size: 28px;
	color: #1f1f1f;
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 15px;
}

#products .middle-block .text {
	font-family: 'Roboto Light';
	font-size: 16px;
	line-height: 24px;
	color: #3a3a3a;
	text-align: justify;
	margin-left: 12px;
	margin-right: 16px;
	margin-top: 10px;
}

#products .middle-block .buy-block {
	height: 64px;
	background-color: #f5f5f5;
	margin-top: 24px;
}

#products .middle-block .old-cost {
	width: 105px;
	background-image: url(images/icons/overline-2.png);
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	font-family: 'Roboto Bold';
	font-size: 18px;
	color: #bdbdbd;
	display: inline-block;
	vertical-align: top;
	line-height: 14px;
	margin-top: 25px;
	margin-left: 80px;
}

#products .middle-block .new-cost {
	color: transparent;
	font-family: 'Roboto Bold';
	font-size: 18px;
	display: inline-block;
	vertical-align: top;
	background-clip: text, text;
	-webkit-background-clip: text, text;
	background-image: linear-gradient(63deg, rgba(132, 20, 143, 0.55), rgba(235, 0, 140, 0.55)), linear-gradient(#151515, #151515);
	margin-left: 19px;
	margin-top: 21px;
}

#products .middle-block .buy-block .btn-1 {
	width: 141px;
	height: 44px;
	text-decoration: none;
	text-align: center;
	padding-top: 14px;
	vertical-align: top;
	margin-left: 81px;
	margin-top: 10px;
}

#products .small-blocks {
	margin-top: 8px;
	padding-bottom: 50px;
}

#products .small-block {
	width: 360px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 40px;
	margin-right: 29px;
}

#products .small-block:nth-of-type(3n) {
	margin-right: 0;
}

#products .small-block .img {
	position: relative;
	border-radius: 9px;
	overflow: hidden;
	height: 223px;
}

#products .small-block .img .shadow {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 9px;
}

#products .small-block .img .text {
	position: absolute;
	font-family: 'Roboto Bold';
	font-size: 12px;
	color: #fff;
	left: 21px;
	top: 18px;
}

#products .small-block .title {
	font-family: 'Roboto Bold';
	font-size: 29.9px;
	color: #1f1f1f;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 13px;
}

#products .small-block .text {
	font-family: 'Roboto Light';
	font-size: 16px;
	color: #3a3a3a;
	margin-left: 10px;
	margin-right: 16px;
	text-align: justify;
	margin-top: 8px;
	line-height: 24px;
}

#products .small-block .more {
	display: inline-block;
	font-family: 'Roboto Light';
	font-size: 14px;
	color: #4aa0cb;
	border-bottom: 1px solid #a8d3e9;
	text-decoration: none;
	margin-left: 10px;
	margin-top: 9px;
}

#products .small-block .buy-block {
	height: 39px;
	background-color: #f5f5f5;
	margin-top: 20px;
	padding-top: 25px;
}

#products .small-block .old-cost {
	line-height: 12px;
	font-family: 'Roboto Bold';
	font-size: 16px;
	color: #bdbdbd;
	width: 85px;
	background-image: url(images/icons/overline-3.png);
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	margin-left: 8px;
	display: inline-block;
	vertical-align: top;
}

#products .small-block .new-cost {
	color: transparent;
	font-family: 'Roboto Bold';
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
	background-clip: text, text;
	-webkit-background-clip: text, text;
	background-image: linear-gradient(63deg, rgba(132, 20, 143, 0.54), rgba(235, 0, 140, 0.54)), linear-gradient(#151515, #151515);
	margin-top: -4px;
	margin-left: 16px;
}

#products .small-block .btn-1 {
	width: 141px;
	height: 44px;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	padding-top: 14px;
	margin-left: 17px;
	margin-top: -15px;
}

#blog-page {
	margin-top: -9px;
}

#blog-page {
	padding-bottom: 38px;
}

#blog-page .links li {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
	margin-right: 30px;
}

#blog-page .links li:nth-child(4n) {
	margin-right: 0;
}

#blog-page .links li a {
	display: block;
	width: 262px;
	height: 50px;
	border: 1px solid #dedede;
	border-radius: 5px;
	text-align: center;
	box-sizing: border-box;
	font-family: 'Roboto Light';
	font-size: 16px;
	color: #363636;
	text-decoration: none;
	padding-top: 12px;
}

#blog-page .links li a:hover {
	border-color: transparent;
	background-origin: padding-box, border-box;
	background-clip: padding-box, border-box;
	-webkit-background-clip: padding-box, border-box;
	background-image: linear-gradient(#fff, #fff), linear-gradient(153deg, #aa2597, #84148f);
	color: transparent;
}

#blog-page .links li a:hover span {
	display: inline-block;
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient(153deg, #84148f, #aa2597);
}

#blog-page .news-block {
	margin-bottom: 46px;
}

#blog-page .news-block .img {
	position: relative;
	border-radius: 9px;
	min-height: 79px;
}

#blog-page .news-block .img.empty {
	margin-top: -25px;
}

#blog-page .news-block .img .date {
	width: 394px;
	height: 55px;
	background-image: url(images/icons/date.png);
	position: absolute;
	top: 25px;
	left: 25px;
}

#blog-page .news-block .img .date span {
	display: inline-block;
	font-family: 'Roboto Bold';
	font-size: 16px;
	color: #fff;
	margin-left: 32px;
	margin-top: 16px;
}

#blog-page .news-block .img .date span:last-child {
	margin-left: 50px;
}

#blog-page .news-block .img .text {
	color: #fff;
	position: absolute;
	top: 125px;
	left: 42px;
}

#blog-page .news-block .img .text span {
	display: block;
	line-height: normal;
}

#blog-page .news-block .img .text .n1 {
	font-family: 'Roboto Italic';
	font-size: 46.76px;
}

#blog-page .news-block .img .text .n2 {
	font-family: 'Roboto Bold';
	font-size: 57.57px;
	text-transform: uppercase;
	margin-top: -7px;
}

#blog-page .news-block .img .text .n3 {
	font-family: 'Roboto Italic';
	font-size: 33.67px;
	margin-top: -7px;
}

#blog-page .news-block .img .arrow {
	position: absolute;
	width: 24px;
	height: 12px;
	bottom: 0;
	left: 87px;
	background-image: url(images/icons/arrow-3.png);
}

#blog-page .news-block .link {
	font-family: 'Roboto Regular';
	font-size: 25px;
	color: #2f9ed5;
	border-bottom: 1px solid #d5ecf7;
	margin-left: 21px;
	margin-right: 21px;
	text-decoration: none;
	display: inline-block;
	margin-top: 15px;
}

#blog-page .news-block .text {
	font-family: 'Roboto Light';
	font-size: 16px;
	color: #323232;
	line-height: 30px;
	margin-left: 21px;
	margin-right: 28px;
	text-align: justify;
	margin-top: 10px;
}

#blog-page .news-block .author-block {
	height: 55px;
	background-color: #f5f5f5;
	padding-top: 16px;
	box-sizing: border-box;
	position: relative;
	margin-top: 23px;
}

#blog-page .news-block .author-block .arrow {
	position: absolute;
	width: 26px;
	height: 13px;
	background-image: url(images/icons/arrow-4.png);
	top: -13px;
	left: 84px;
}

#blog-page .news-block .author {
	font-family: 'Roboto Light';
	font-size: 16px;
	color: #515151;
	margin-left: 25px;
	width: 447px;
	display: inline-block;
	vertical-align: top;
}

#blog-page .news-block .social {
	display: inline-block;
	vertical-align: top;
	margin-top: 1px;
}

#blog-page .news-block .social li {
	margin-left: 6px;
	margin-right: 6px;
	display: inline-block;
	vertical-align: top;
}

#blog-page .news-block .social li a {
	display: block;
	width: 21px;
	height: 20px;
	background-size: 21px 20px;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}

#blog-page .news-block .social li a:hover {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
}

#blog-page .news-block .social li a.gp {
	background-image: url(images/icons/social/gp.png);
}

#blog-page .news-block .social li a.fb {
	background-image: url(images/icons/social/fb.png);
}

#blog-page .news-block .social li a.yt {
	background-image: url(images/icons/social/yt.png);
}

#blog-page .news-block .social li a.tw {
	background-image: url(images/icons/social/tw.png);
}

#blog-page .news-block .social li a.od {
	background-image: url(images/icons/social/od.png);
}

#blog-page .news-block .social li a.vk {
	background-image: url(images/icons/social/vk.png);
}

#blog-page .news-block .comments,
#blog-page .news-block .views {
	font-family: 'Roboto Light';
	font-size: 16px;
	color: #515151;
	display: inline-block;
	vertical-align: top;
}

#blog-page .news-block .comments {
	padding-left: 32px;
	background-image: url(images/icons/comment.png);
	background-repeat: no-repeat;
	background-position: 0 1px;
	margin-left: 289px;
}

#blog-page .news-block .views {
	padding-left: 31px;
	background-image: url(images/icons/eye.png);
	background-repeat: no-repeat;
	background-position: 0 4px;
	margin-left: 27px;
}

#businesscase .menu li {
	margin-bottom: 20px;
	margin-right: 30px;
	display: inline-block;
	vertical-align: top;
}

#businesscase .menu li:nth-child(3n) {
	margin-right: 0;
}

#businesscase .menu li a {
	border: 1px solid #dedede;
	border-radius: 5px;
	text-align: center;
	font-family: 'Roboto Light';
	font-size: 16px;
	color: #363636;
	width: 360px;
	height: 50px;
	display: block;
	text-decoration: none;
	box-sizing: border-box;
	padding-top: 12px;
}

#businesscase .menu li a:hover {
	border-color: transparent;
	background-origin: padding-box, border-box;
	background-clip: padding-box, border-box;
	-webkit-background-clip: padding-box, border-box;
	background-image: linear-gradient(#fff, #fff), linear-gradient(69deg, rgba(34, 199, 255, 0.59), rgba(39, 116, 255, 0.59));
	color: transparent;
}

#businesscase .menu li a:hover span {
	display: inline-block;
	background-clip: text, text;
	-webkit-background-clip: text, text;
	background-image: linear-gradient(27deg, rgba(34, 199, 255, 0.54), rgba(39, 116, 255, 0.54)), linear-gradient(#363636, #363636);
}

#businesscase .case-blocks {
	margin-top: 10px;
	padding-bottom: 70px;
}

#businesscase .case-block {
	width: 263px;
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
	margin-bottom: 30px;
	width: 262px;
}

#businesscase .case-block:nth-child(4n) {
	margin-right: 0;
}

#businesscase .case-block .img {
	height: 217px;
	overflow: hidden;
	position: relative;
}

#businesscase .case-block .img .blue {
	position: absolute;
	width: 232px;
	height: 45px;
	top: 141px;
	left: 0;
	background-color: #2774ff;
	box-sizing: border-box;
	padding-left: 24px;
	padding-right: 20px;
	font-family: 'Roboto Bold';
	font-size: 16px;
	color: #fff;
	padding-top: 11px;
}

#businesscase .case-block .firm {
	font-family: 'Roboto Regular';
	font-size: 16px;
	color: #aeaeae;
	margin-top: 5px;
}

#businesscase .case-block .title {
	font-family: 'Roboto Bold';
	font-size: 23.7px;
	color: #414141;
	margin-top: 3px;
}

#businesscase .case-block .text {
	font-family: 'Roboto Light';
	font-size: 16px;
	color: #414141;
	margin-top: 3px;
	line-height: 24px;
}

#businesscase .case-block .link {
	text-decoration: none;
	font-family: 'Roboto Light';
	font-size: 16px;
	color: #2f9ed6;
	border-bottom: 1px solid #d5ecf7;
	display: inline-block;
	padding-bottom: 1px;
	margin-top: 12px;
}

#businesscase .case-block .link .arrow {
	background-image: url(images/icons/arrow-5.png);
	width: 8px;
	height: 14px;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 2px;
}

#command {
	margin-top: -2px;
}

#command .workers li {
	width: 312px;
	display: inline-block;
	vertical-align: top;
	margin-right: 101px;
	margin-bottom: 100px;
}

#command .workers li:nth-child(3n) {
	margin-right: 0;
}

#command .workers li .img {
	width: 312px;
	height: 312px;
	overflow: hidden;
	border-radius: 50%;
	background-color: #f0efeb;
}

#command .workers li .name {
	font-family: 'Roboto Bold';
	font-size: 20px;
	color: #222;
	text-align: center;
	margin-top: 9px;
}

#command .workers li .post {
	font-family: 'Roboto Light';
	font-size: 18px;
	color: #3c3c3c;
	text-align: center;
	margin-top: 1px;
}

#command .experience {
	height: 634px;
	background-image: url(images/command-bg.jpg);
	background-position: center top;
	margin-top: 10px;
}

#command .experience .content {
	padding-top: 42px;
}

#command .experience .title {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto Light';
	font-size: 35.38px;
	color: #fff;
}

#command .experience .checkmarks {
	margin-top: 43px;
	margin-bottom: 42px;
}

#command .experience .checkmarks li {
	font-family: 'Roboto Light';
	font-size: 25px;
	color: #fff;
	padding-left: 50px;
	background-image: url(images/icons/check-2.png);
	background-repeat: no-repeat;
	background-position: 0 3px;
	list-style-type: none;
	margin-bottom: 24px;
}

#command .experience .text {
	font-family: 'Roboto Light';
	font-size: 20px;
	color: #fff;
	line-height: 30px;
	margin-bottom: 35px;
}

#command .experience .text.n2 {
	margin-bottom: 0;
}

#command .experience form {
	text-align: center;
	margin-top: 35px;
}

#command .experience form input {
	box-sizing: border-box;
	border: none;
	width: 277px;
	height: 50px;
	background-color: #e9e9e9;
	font-family: 'Raleway Regular';
	font-size: 14px;
	color: #7d7d7d;
	padding-left: 21px;
	padding-right: 21px;
}

#command .experience form button {
	width: 141px;
	height: 50px;
	margin-left: 20px;
}

#contacts-block {
	padding-bottom: 59px;
}

#contacts-block .contacts-1 .content {
	padding-top: 161px;
}

#contacts-block .contacts-1 {
	background-image: url(images/contacts-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 546px;
	text-align: center;
}

#contacts-block .contacts-1 .contact {
	display: inline-block;
	vertical-align: top;
	width: 270px;
}

#contacts-block .contacts-1 .contact:nth-child(2) {
	margin-left: 71px;
	margin-right: 78px;
}

#contacts-block .contacts-1 .contact .icon {
	margin: 0 auto;
	height: 100px;
	background-repeat: no-repeat;
}

#contacts-block .contacts-1 .contact .icon.n1 {
	background-image: url(images/icons/phone.png);
	width: 99px;
}

#contacts-block .contacts-1 .contact .icon.n2 {
	background-image: url(images/icons/mail.png);
	width: 109px;
}

#contacts-block .contacts-1 .contact .icon.n3 {
	background-image: url(images/icons/address.png);
	width: 80px;
}

#contacts-block .contacts-1 .contact .title {
	font-family: 'Roboto Bold';
	font-size: 28.29px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 27px;
}

#contacts-block .contacts-1 .contact .val {
	font-family: 'Roboto Light';
	font-size: 32.3px;
	color: #fff;
}

#contacts-block .contacts-1 .contact .val.mini {
	font-family: 'Roboto Light';
	font-size: 15px;
	color: #fff;
	line-height: 24px;
	margin-top: 2px;
}

#contacts-block .map {
	background-image: url(images/map-2.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 1069px;
}

#contacts-block .contacts-2 .title {
	text-transform: uppercase;
	text-align: center;
	font-family: 'Roboto Light';
	font-size: 60px;
	margin-top: 46px;
	margin-bottom: 19px;
}

#contacts-block .contacts-2 .title span {
	display: inline-block;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient(63deg, #84148f, #eb008c);
}

#contacts-block .contacts-2 .text {
	display: inline-block;
	vertical-align: top;
	font-family: 'Roboto Light';
	font-size: 16px;
	color: #000;
	line-height: 30px;
	width: 340px;
}

#contacts-block .contacts-2 .text .grad {
	display: inline-block;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient(63deg, #84148f, #eb008c);
}

#contacts-block .contacts-2 .text .bold {
	font-family: 'Roboto Regular';
}

#contacts-block .contacts-2 .text.n1 {
	margin-left: 97px;
}

#contacts-block .contacts-2 .text.n2 {
	font-size: 14px;
	line-height: 25px;
}

#modal {
	display: none;
}

#modal .shadow {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(198, 198, 198, 0.85);
	top: 0;
	left: 0;
}

#modal .m-content {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	font-size: 0;
}

#modal-call {
	border-radius: 14px;
	width: 352px;
	height: 422px;
	margin-top: -211px;
	margin-left: -176px;
	background-color: #fff;
	padding-top: 29px;
	box-sizing: border-box;
	text-align: center;
	display: none;
}

#modal-call .title {
	text-transform: uppercase;
	text-align: center;
	font-family: 'Roboto Medium';
	font-size: 32.2px;
	color: #1a1a1a;
	margin-bottom: 22px;
}

#modal-call input[type=text] {
	width: 277px;
	height: 50px;
	box-sizing: border-box;
	border: 1px solid #ababab;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Roboto Light';
	font-size: 14px;
	color: #626262;
	margin-bottom: 22px;
}

#modal-call .btn-3 {
	width: 277px;
	height: 50px;
	margin-top: -2px;
}

#modal-call .c-field {
	display: inline-block;
	vertical-align: top;
	width: 277px;
	text-align: justify;
	font-family: 'Roboto Light';
	font-size: 12px;
	color: #000;
	line-height: 20px;
	margin-top: 25px;
}

#modal-call .c-checkbox {
	margin-right: 15px;
	vertical-align: top;
}

#modal-buy {
	border-radius: 14px;
	background-color: #fff;
	width: 653px;
	height: 337px;
	margin-left: -326px;
	margin-top: -168px;
	box-sizing: border-box;
	padding-top: 31px;
	display: none;
}

#modal-buy .title {
	text-transform: uppercase;
	font-family: 'Roboto Medium';
	font-size: 32.2px;
	color: #1a1a1a;
	text-align: center;
}

#modal-buy .left {
	margin-left: 33px;
	display: inline-block;
	vertical-align: top;
	width: 313px;
	margin-top: 22px;
}

#modal-buy input {
	width: 277px;
	height: 50px;
	box-sizing: border-box;
	border: 1px solid #ababab;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Roboto Light';
	font-size: 14px;
	color: #626262;
	margin-bottom: 19px;
}

#modal-buy .right {
	display: inline-block;
	vertical-align: top;
	margin-top: 17px;
	width: 277px;
}

#modal-buy .total-cost .text {
	font-family: 'Roboto Light';
	font-size: 18px;
	color: #1a1a1a;
	display: block;
}

#modal-buy .total-cost .cost {
	font-family: 'Roboto Regular';
	font-size: 37px;
	color: #2f9ed5;
	display: block;
	margin-top: -4px;
}

#modal-buy .info {
	font-family: 'Roboto Light';
	font-size: 14px;
	color: #626262;
	margin-top: 12px;
}

#modal-buy .btn-3 {
	width: 277px;
	height: 50px;
	margin-top: 18px;
}

#modal-buy .other {
	display: inline-block;
	font-family: 'Roboto Light';
	font-size: 14px;
	color: #1a1a1a;
	margin-top: 8px;
}

#modal-mail {
	border-radius: 14px;
	background-color: #fff;
	width: 384px;
	height: 508px;
	margin-left: -192px;
	margin-top: -254px;
	padding-top: 31px;
	box-sizing: border-box;
	display: none;
}

#modal-mail .title {
	text-transform: uppercase;
	text-align: center;
	font-family: 'Roboto Medium';
	font-size: 32.2px;
	color: #1a1a1a;
}

#modal-mail input,
#modal-mail textarea {
	box-sizing: border-box;
	width: 315px;
	border: 1px solid #ababab;
	font-family: 'Roboto Light';
	font-size: 14px;
	color: #626262;
	padding-left: 19px;
	padding-right: 19px;
}

#modal-mail form {
	text-align: center;
	margin-top: 22px;
}

#modal-mail input {
	height: 50px;
	margin-bottom: 22px;
}

#modal-mail textarea {
	height: 136px;
	resize: none;
	padding-top: 16px;
}

#modal-mail .btn-3 {
	margin-top: 24px;
	width: 315px;
	height: 50px;
}

#modal-mail .c-field {
	width: 315px;
	font-family: 'Roboto Light';
	font-size: 12px;
	color: #000;
	display: inline-block;
	text-align: left;
	line-height: 20px;
	margin-top: 25px;
}

#modal-mail .c-checkbox {
	margin-right: 4px;
	vertical-align: top;
}